$imagenfondo: url(/imagenes/imagenfondoopaca.jpg);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.imagenfondo {
  background-image: $imagenfondo;
  background-size: contain;
}

footer {
  background-color: rgba(94, 89, 89, 0.432);
  font-family: "Inconsolata", monospace;

  text-align: center;
  background-size: cover;
  bottom: 0;
}
#contactanos {
  background-color: rgba(94, 89, 89, 0.432);
  background-image: $imagenfondo;
  font-family: "Inconsolata", monospace, bold;
  margin-top: 95px;
}

#nosotros {
  background-color: rgb(255, 255, 255);
  background-image: $imagenfondo;
  font-family: "Inconsolata", monospace;

  text-align: center;
  height: 100vh;
  margin-top: 95px;
}
#franquicias {
  background-color: rgb(255, 255, 255);
  background-image: $imagenfondo;
  font-family: "Inconsolata", monospace;

  text-align: center;
  height: 100vh;
  margin-top: 95px;
}
#tienda {
  background-image: $imagenfondo;
  background-size: contain;
  font-family: "Inconsolata", monospace;
  margin-top: 95px;
}
#features {
  background-size: contain;
  font-family: "Inconsolata", monospace;
}
#headerhome {
  background-size: contain;
  font-family: "Inconsolata", monospace;
}
#home {
  background-image: $imagenfondo;
  background-size: contain;
  font-family: "Inconsolata", monospace;
}
.row {
  display: flex;
  padding: 5px;
  margin: 5px;
  flex-direction: row;
  flex-wrap: wrap;
}
.column img {
  width: 330px;
  height: 330px;
}
.mb-4 {
  font-family: "Inconsolata", monospace;
}

@media screen and (max-width: 768px) {
  nav ul {
    display: inline-block;
  }
  nav {
    width: auto;
    height: auto;
  }
}
.maparesponsivo {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.maparesponsivo iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
.header {
  color: #000000;
  font-size: 27px;
  font-family: "Inconsolata", monospace;
  background-image: $imagenfondo;
  text-align: center;
  padding: 10px;
}

.bigicon {
  font-size: 35px;
  color: #36a0ff;
}
